<h1>Top Music Charts <h1>

<h4><%= link_to "Artist", artists_path, class:"btn black"%>


<% @charts.each do |chart| %>
  <h5><%= link_to chart.name, chart_songs_path(chart) %></h5>
  
  <% end %>
  
  <%=link_to "New Chart", new_chart_path, class:"btn" %>
