<h1>Top Music Charts <h1>




<% @charts.each do |chart| %>
  <h5><%= link_to chart.name, chart_songs_path(chart) %></h5>
  
  <% end %>
  
  <%= link_to "Explore Artists", artists_path, class:"btn black"%>
  <%=link_to "New Chart", new_chart_path, class:"btn" %>
